@{
}

<div class="container">
    <div class="col-md-4 offset-4">
        <h2>KULLANICI GİRİŞ</h2>
        @if (TempData["error"] != null)
        {
            <p class="alert alert-danger">@TempData["error"]</p>
        }
        <form action="/Auth/login" method="post">
            <div class="form-group mt-2">
                <input class="form-control" required minLength="3" name="userName" placeholder="Kullanıcı Adı" value="@TempData["userName"]" />
            </div>
            <div class="form-group mt-2">
                <input class="form-control" type="password" required minLength="3" name="password" placeholder="Şifre" value="@TempData["password"]" />
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary w-100">Giriş Yap</button>
            </div>
        </form>
    </div>
</div>
